# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore CMake build directories
cmake-build-debug/
CMakeBuild/
out/build/
build/
x64/Debug/
x64/Release/

# Ignore user-specific JUCE path configuration
cmake/JUCEPath.cmake
cmake/TracktionPath.cmake

.idea/